/**
 * Created by Jayakumar Mogenahall on 14/02/2023.
 */

:host{
    --slds-c-input : 80px;
}

.redColor
{
    color:red;
}

td.slds-cell-edit .slds-form-element input {
    width: 30%; /* Replace with your desired width */
}

input{
    width:300px;
}

.redDot {
  height: 10px;
  width: 10px;
  background-color: #FF0000;
  border-radius: 50%;
  display: inline-block;
}

.yellowDot {
  height: 10px;
  width: 10px;
  background-color: #FFFF00;
  border-radius: 50%;
  display: inline-block;
}

.greenDot {
  height: 10px;
  width: 10px;
  background-color: #008000;
  border-radius: 50%;
  display: inline-block;
}

h3 {
    font-size: large;
    color: rgba(126, 133, 140, 1);
}